# Python
__pycache__/
*.pyc
.venv/
backend/env/

# Node/React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.vite-temp/

# Env files
backend/.env
frontend/.env

# Logs & System
*.log
.DS_Store
